.best {
  padding-top: 21px;
  position: relative;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
}

.best__list-baskets {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 4px;
}

.best__list-best {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  margin: 6px 1px 22px 0;
  text-transform: uppercase;
}

.best__list-description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 1px 1px 17px 0;
}

.best-section {
  position: relative;
  padding-bottom: 36px;
}

.best__list-specifications {
  border-spacing: 0;
  line-height: 20px;
  margin-bottom: 29px;
  width: 100%;
}

.best__row {
  box-shadow: 0 1px 0 0 #ececec;
}

.best__value,
.best__field {
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  padding: 10px 10px 10px 0;
}

.best__value {
  width: 37%;
}

.best__image {
  display: block;
  width: 260px;
  height: auto;
}

.best__image-wrapper {
  width: 260px;
  height: 315px;
  margin: 0 auto;
  overflow: hidden;
}

.best__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  margin-top: 24px;
  margin-bottom: 25px;
  text-align: center;
}

.best__section {
  position: relative;
}

@media (min-width: 320px) {
  .best::after {
    content: "";
    position: absolute;
    left: 0;
    height: 7px;
    right: 0;
    bottom: -3px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-position-x: -8px;
    background-repeat: repeat-x;
  }
}

@media (min-width: 768px) {
  .best__value {
    width: 33.5%;
  }

  .best {
    padding: 22px 50px 52px;

    &::after {
      height: 17px;
      background-size: 768px 17px;
      background-position-x: -20px;
      bottom: -18px;
    }
  }

  .best__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    margin-left: -4px;
    padding: 3px 0;
  }

  .best__list-baskets {
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    max-width: 500px;
    margin: 0;
  }

  .best__list-best {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    max-width: 120px;
    margin-left: auto;
    padding-top: 25px;
  }

  .best__section {
    position: relative;
    padding-right: 378px;
  }

  .best__list-description {
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 35px;
  }

  .best__image-wrapper {
    position: absolute;
    width: 333px;
    height: 404px;
    top: 8px;
    margin: 0;
    right: 0;
  }

  .best__image {
    width: 333px;
  }

  .best__list-specifications {
    margin-bottom: 57px;
  }

  .best__price {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #444444;
    margin-bottom: 33px;
  }

  .best__field {
    letter-spacing: -0.2px;
  }
}

@media (min-width: 1150px) {
  .best {
    padding-top: 104px;
    padding-bottom: 76px;

    &::after {
      left: 50px;
      right: 50px;
      height: 23px;
      background-size: 1050px 21px;
      background-position-x: -25px;
      bottom: -24px;
    }
  }

  .best__list {
    padding-left: 27px;
    margin-bottom: 31px;
  }

  .best__list-description {
    margin-bottom: 48px;
  }

  .best__list-baskets {
    order: 1;
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
    max-width: 600px;
  }

  .best__list-best {
    margin-left: 0;
    margin-right: 25px;
  }

  .best__section {
    padding-left: 175px;
    padding-right: 583px;
  }

  .best__list-specifications {
    margin-bottom: 110px;
  }

  .best__image-wrapper {
    z-index: -1;
    width: 525px;
    height: 636px;
    top: -158px;
  }

  .best__image {
    width: 525px;
  }
}
