.best {
  margin: 0;
  padding-top: 24px;
  position: relative;
}

.best__wrapper {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 36px;
  margin: 0 auto;
}

.best__list-baskets {
  margin-top: 5px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.best__list-best {
  color: #63d1bb;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin: 4px 1px 23px 0;
  text-transform: uppercase;
}

.best__list-description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 1px 1px 18px 0;
}

.best-section {
  position: relative;
  padding-bottom: 36px;
}

.best__list-specifications {
  width: 100%;
  border-spacing: 0;
  line-height: 20px;
  margin-bottom: 28px;
}

.best__row {
  box-shadow: 0 1px 0 0 #ececec;
}

.best__value,
.best__field {
  padding: 10px 10px 10px 0;
}

.best__value {
  width: 37%;
}

.best__image-wrapper {
  overflow: hidden;
  margin: 0 auto;
}

.best__price {
  margin-top: 19px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
}

@media (min-width: 320px) {
  .best::after {
    content: "";
    position: absolute;
    left: 0;
    height: 7px;
    right: 0;
    bottom: -3px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 320px 7px;
    background-position-x: -8px;
    background-repeat: repeat-x;
  }
}

@media (min-width: 768px) {
  .best__value {
    width: 33%;
  }

  .best {
    padding: 22px 50px 50px 50px;

    &::after {
      height: 17px;
      background-size: 768px 17px;
      background-position-x: -20px;
      bottom: -18px;
    }
  }

  .best__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    padding: 2px 0;
  }

  .best__list-baskets {
    margin: 0;
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
  }

  .best__list-best {
    padding-top: 28px;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    max-width: 130px;
  }

  .best__section {
    padding-right: 376px;
    position: relative;
  }

  .best__list-description {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }

  .best__image-wrapper {
    position: absolute;
    width: 333px;
    height: 404px;
    top: 7px;
    left: 334px;
  }

  .best__list-specifications {
    margin-bottom: 57px;
  }

  .best__price {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #444444;
    margin-bottom: 33px;
  }
}

@media (min-width: 1150px) {
  .best {
    padding-top: 104px;
    padding-bottom: 74px;

    &::after {
      left: 50px;
      right: 50px;
      height: 23px;
      background-size: 1050px 21px;
      background-position-x: -25px;
      bottom: -24px;
    }
  }

  .best__list {
    padding-left: 16px;
    margin-bottom: 31px;
  }

  .best__list-description {
    margin-bottom: 48px;
  }

  .best__list-baskets {
    order: 1;
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
  }

  .best__list-best {
    margin-left: 0;
    margin-right: 25px;
  }

  .best__section {
    padding-left: 175px;
    padding-right: 593px;
  }

  .best__list-specifications {
    margin-bottom: 110px;
  }

  .best__image-wrapper {
    z-index: -1;
    width: 525px;
    height: 636px;
    top: -159px;
    right: -191px;
  }

  .best__value {
    width: 35%;
  }
}
