.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;
  cursor: pointer;
  padding: 15px 10px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  background-color: #ffffff;
}

.button:hover {
  color: #ffffff;
  background-color: #444444;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #444444;
}
