.catalog__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  background-color: #f1f1f1;
  padding: 70px 30px 75px 30px;
  text-align: center;
  position: relative;
}

.catalog__photo {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;
}

.catalog__all-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 31px;
}

.catalog__card {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin: 0 auto 30px;
}

.catalog__card-link {
  box-sizing: border-box;
}

.catalog__center {
  box-sizing: border-box;
  padding: 26px 25px 27px 27px;
  border: 1px solid #ececec;
  width: 260px;
  margin-top: -5px;
}

.catalog__center:hover {
  border: 1px solid #ececec;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog__center:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.catalog__card-description {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 5px;
  color: #000000;
}

.catalog__card-specification {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  padding-bottom: 19px;
}

.catalog__price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ececec;
  padding-top: 23px;
  position: relative;
}

.catalog__card-item[href]:hover .catalog__card-description {
  color: rgba(0, 0, 0, 0.6);
}

.catalog__card-item[href]:active .catalog__card-description {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__price-basket {
  width: 22px;
  height: 19px;
}

.catalog-price__wrapper {
  opacity: 0.2;
}

.catalog-price__wrapper:hover {
  fill: #63d1bb;
  opacity: 1;
}

.catalog-price__wrapper:active {
  fill: #63d1bb;
  opacity: 0.3;
}

.catalog__video {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin: 0 auto 30px;
  border: 1px solid #ececec;
}

.catalog__video:hover {
  border: 1px solid #ececec;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog__video:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.catalog__video-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding: 28px 10px 28px 94px;
  position: relative;
}

.catalog__button-text {
  padding: 21px 33px 31px 33px;
}

.catalog__video-text {
  padding-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.catalog__price-cards {
  padding: 24px 10px 25px 90px;
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 29px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    top: 30px;
    left: 33px;
  }
}

.catalog__video-images {
  position: relative;
}

.catalog__video--click {
  position: absolute;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.catalog__video--click:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.catalog__video--click:active {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.8;
}

@media (min-width: 768px) {
  .catalog__title {
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    color: #000000;
    padding-top: 33px;
  }

  .catalog__photo {
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog__all-card {
    padding-top: 84px;
  }

  .catalog__card {
    width: 668px;
    margin-bottom: 54px;
    box-sizing: border-box;
  }

  .catalog__center {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-right: 30px;
  }

  .catalog__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
  }

  .catalog__card-link {
    width: 50%;
    display: block;
    overflow: hidden;
  }

  .catalog__card-image {
    width: 334px;
    display: block;
  }

  .catalog__card-description {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }

  .catalog__card-specification {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }

  .catalog__price-card {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }

  .catalog__video {
    display: flex;
    flex-direction: column;
  }

  .catalog__price-cards {
    order: 1;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    padding: 39px 20px 5px 106px;

    &::before {
      top: 34px;
      left: 41px;
    }
  }

  .catalog__video-images {
    width: 668px;
    height: 455px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .catalog__button-text {
    order: 2;
    padding: 27px 33px 50px 29px;
  }

  .catalog__video-image {
    width: 668px;
    height: 455px;
  }

  .catalog__video-wrapper {
    border: 1px solid #ececec;
    width: 668px;
    margin-top: -2px;
  }

  .catalog__video-text {
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    padding: 0 10px 34px 10px;
  }

  .catalog__video-button {
    padding: 15px 0;
    width: 586px;
  }

  .catalog__card-item {
    width: 100%;
    padding-right: 33px;
  }

  .catalog__price {
    margin-top: auto;
  }

  .catalog__video-images::before {
    top: 190px;
    left: 284px;
  }
}

@media (min-width: 1150px) {
  .catalog__title {
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
    padding: 44px 50px 101px 50px;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1150px;
  }

  .catalog__card {
    width: 316px;
    margin: 0 0 auto;
  }

  .catalog__card-image {
    width: 100%;
  }

  .catalog__card-link {
    width: 100%;
  }

  .catalog__center {
    width: 100%;
    min-height: 197px;
    padding-bottom: 9px;
  }

  .catalog__video-wrapper {
    width: 1050px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-left: 682px;
    border: 1px solid #ececec;
    margin-top: 7px;
  }

  .catalog__price-cards {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 45px 73px 10px 78px;
  }

  .catalog__video-images {
    position: absolute;
    width: 682px;
    top: 0;
    left: 0;
  }

  .catalog__all-card {
    padding-bottom: 50px;
    padding-top: 131px;
  }

  .catalog__video-text {
    padding: 0 0 43px;
  }

  .catalog__video-button {
    width: 230px;
  }

  .catalog__button-text {
    padding: 3px 55px 61px 77px;
  }

  .catalog__card-item {
    padding-right: 15px;
  }

  .catalog__card-specification {
    padding-bottom: 0;
  }

  .catalog__price {
    padding: 22px 5px 17px 0;
  }

  .catalog__price-cards::before {
    top: -9px;
    left: 79px;
  }

  .catalog__video-image {
    width: 682px;
  }

  .catalog__video-images::before {
    top: 188px;
    left: 290px;
  }
}
