.info {
  position: relative;
  padding: 28px 30px 17px;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
}

.info__title {
  margin-top: 2px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.info__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.info__item {
  position: relative;
  width: 260px;
  padding-top: 56px;
  padding-bottom: 27px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.info__item--materials,
.info__item--style,
.info__item--like,
.info__item--knitting,
.info__item--manufacturer,
.info__item--packaging {
  fill: #63d1bb;
}

@media (min-width: 320px) {
  .info__item--materials {
    position: absolute;
    top: 2px;
    left: 8px;
  }

  .info__item--style {
    position: absolute;
    top: 2px;
  }

  .info__item--like {
    position: absolute;
    top: 8px;
    left: 8px;
  }

  .info__item--knitting {
    left: 4px;
    position: absolute;
    top: 5px;
  }

  .info__item--manufacturer {
    position: absolute;
    top: 6px;
    left: -5px;
  }

  .info__item--packaging {
    position: absolute;
    top: 4px;
    left: 3px;
  }
}

@media (min-width: 768px) {
  .info {
    padding: 42px 50px 35px;

    &::after {
      background-size: auto;
    }
  }

  .info__title {
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-right: 0;
    padding-left: 0;
    letter-spacing: -0.7px;
  }

  .info__list {
    justify-content: space-between;
    width: 100%;
  }

  .info__item {
    padding-bottom: 48px;
    letter-spacing: .1px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    padding-right: 34px;
    padding-top: 63px;
    width: 300px;
  }

  .info__text--style {
    order: 2;
  }

  .info__text--like {
    order: 4;
  }

  .info__text--knitting {
    order: 1;
  }

  .info__text--manufacturer {
    order: 3;
  }

  .info__text--packaging {
    order: 5;
  }

  .info__flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .info__item--materials,
  .info__item--style {
    top: 8px;
  }

  .info__item--like,
  .info__item--knitting,
  .info__item--manufacturer {
    top: 12px;
  }

  .info__item--packaging {
    top: 11px;
  }
}

@media (min-width: 1150px) {
  .info {
    padding-top: 55px;
    padding-bottom: 42px;
    padding-left: 223px;
  }

  .info__title {
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
  }

  .info__list {
    justify-content: flex-start;
  }

  .info__item {
    width: 350px;
    letter-spacing: 0.2px;
    padding-right: 2px;
  }

  .info__item--like {
    left: 11px;
    top: 14px;
  }

  .info__item--style {
    left: 7px;
  }

  .info__item--materials {
    left: 15px;
  }
}
