.page-main__title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  background-color: #f1f1f1;
  padding: 31px 30px 76px 30px;
  text-align: center;
  position: relative;
}

@media (min-width: 320px) {
  .page-main__title {
    padding: 70px 30px 76px 30px;
  }
}

@media (min-width: 768px) {
  .page-main__title {
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    color: #000000;
    padding: 31px 30px 76px 30px;
  }
}

@media (min-width: 1150px) {
  .page-main__title {
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
    color: #000000;
    padding: 43px 30px 100px 30px;
  }
}
