.page-footer {
  margin-top: 98px;
  background-color: #f1f1f1;
  padding-top: 36px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.page-footer__form {
  margin-top: 38px;
}

.page-footer__wrapper {
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright--text {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.page-footer__copyright {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright--link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 12px;
}

.page-footer__copyright--image {
  padding-left: 26px;
  fill: #63d1bb;
}

.page-footer__copyright--link:hover .page-footer__copyright--image {
  fill: #46c1ae;
}

.page-footer__copyright--link:active {
  opacity: 0.3;
}

.page-header__logo-svg:hover {
  fill: #46c1ae;
}

.page-header__logo-svg:active {
  fill: #46c1ae;
  opacity: 0.3;
}

@media (min-width: 320px) {
  .page-footer__catalog {
    margin-top: 58px;
    padding-bottom: 19px;
  }

  .page-footer__index {
    padding-top: 19px;
  }
}

@media (min-width: 768px) {
  .page-footer {
    padding: 36px 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-right: 80px;
  }

  .page-footer__form {
    margin-top: 9px;
  }

  .page-footer__catalog {
    padding: 31px 50px 45px 50px;
  }

  .page-footer__copyright--link {
    padding: 14px 3px 7px;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer {
    margin-top: 28px;
    padding: 36px 0;
  }

  .page-footer__form {
    margin-top: -8px;
  }

  .page-footer__catalog {
    margin-top: 106px;
    background-color: #f1f1f1;
  }
}
