.page-header--index {
  background-color: #f9f9f9;
}

.page-header__nav {
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-header__logo {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 22px 30px 22px;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
}

.page-header__logo-image,
.page-header__logo-item {
  display: block;
  width: 86px;
  height: 35px;
}

.page-header__delivery,
.stock-navigation,
.page-header__block {
  display: none;
}

.page-header__delivery,
.page-header__block {
  box-sizing: border-box;
  margin: 0;
  padding: 18px 50px;
  text-align: right;
}

.page-header__logo-image:hover {
  opacity: 0.6;
}

.page-header__logo-image:active {
  opacity: 0.3;
}

.page-header__toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  width: 21px;
  height: 21px;
  right: 30px;
  top: 31px;
}

.page-header--closed .page-header__toggle::before {
  content: "";
  position: absolute;
  top: 1px;
  width: 20px;
  right: 1px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.page-header--open .page-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 1px;
    width: 21px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__site-list,
.page-header__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .page-header--closed .site-navigation__item,
  .page-header--closed .user-navigation__item {
    display: none;
  }

  .page-header--no-js .page-header__toggle {
    display: none;
  }

  .page-header--no-js .page-header__site-list,
  .page-header--no-js .page-header__user-list {
    position: static;
    display: block;
  }

  .page-header--no-js .site-navigation__item,
  .page-header--no-js .user-navigation__item {
    display: block;
  }
}

@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }

  .page-header__background {
    background-color: #f9f9f9;
  }

  .page-header__nav {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header__logo {
    padding: 22px 0 20px 50px;
    flex-grow: 1;
    justify-content: flex-start;
    background-color: #ffffff;
  }

  .page-header__logo-image,
  .page-header__logo-item {
    width: 112px;
    height: 46px;
  }

  .page-header__site-list {
    order: 1;
  }

  .page-header__delivery,
  .page-header__block {
    display: block;
    order: 2;
    line-height: 24px;
    font-size: 15px;
    background-color: #f1f1f1;
    padding: 17px 50px 20px 50px;
    width: 48%;
  }

  .page-header__form {
    background-color: #f1f1f1;
  }
}

@media (min-width: 1150px) {
  .page-header__user-list::after {
    content: "";
    position: absolute;
    height: 88px;
    width: 2px;
    left: 499px;
    background-color: #ffffff;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header {
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .page-header--index {
    background-color: #f9f9f9;
  }

  .page-header__logo {
    flex-grow: 0;
    order: 1;
    padding: 7px 0 6px;
    background-color: #ffffff;
    margin-bottom: 8px;

    &::before {
      content: "";
      position: absolute;
      height: 88px;
      background-color: #ffffff;
    }
  }

  .page-header__logo-image,
  .page-header__logo-item {
    width: 149px;
    height: 72px;
  }

  .page-header__site-list {
    background-color: #ffffff;
    order: 0;
  }

  .page-header__user-list {
    order: 2;
    background-color: #ffffff;
  }

  .stock-navigation {
    display: flex;
    order: 2;
  }

  .page-header__delivery,
  .page-header__block {
    order: 4;
    width: 500px;
    margin-left: auto;
    padding: 9px 50px;
  }

  .page-header__block {
    background-color: #f1f1f1;
  }

  .page-header__nav {
    background-color: #f1f1f1;
  }
}
