.page-footer {
  margin-top: 98px;
  background-color: #ececec;
  padding-top: 36px;
  padding-bottom: 10px;
}

.page-footer__form {
  margin-top: 38px;
}

.page-footer__wrapper {
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1150px;
}

.page-footer__copyright {
  position: relative;
  padding-top: 30px;
  padding-left: 37px;
  padding-bottom: 10px;
}

.page-footer__copyright-link::before {
  content: "";
  position: absolute;
  font-size: 0;
  width: 27px;
  height: 34px;
  object-fit: contain;
  left: 192px;
  top: 25px;
  background-color: var(--seafoam-blue);
  background-image: url("../img/logo-htmlacademy.svg");
}

.page-footer__copyright-link {
  font-size: 0;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright-text {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

@media (min-width: 320px) {
  .page-footer__catalog {
    margin-top: 58px;
    padding-bottom: 19px;
  }
}

@media (min-width: 768px) {
  .page-footer {
    padding: 36px 50px 45px 50px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
  }

  .page-footer__copyright-link::before {
    left: 193px;
    top: 22px;
  }

  .page-footer__copyright-text {
    margin-right: 41px;
  }

  .page-footer__copyright {
    position: relative;
    padding-top: 27px;
    padding-left: 37px;
    padding-bottom: 10px;
    padding-right: 11px;
  }

  .page-footer__form {
    margin-top: 9px;
  }
}

@media (min-width: 1150px) {
  .page-footer__catalog {
    margin-top: 160px;
  }

  .page-footer__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer {
    margin-top: 28px;
  }

  .page-footer__catalog {
    margin-top: 106px;
    background-color: #f1f1f1;
  }

  .page-footer__form {
    margin-top: -8px;
  }
}
