.reviews__wrapper {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.reviews {
  position: relative;
  padding-bottom: 50px;
}

.reviews__title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 4px;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__text {
  margin-top: 15px;
  margin-bottom: 28px;
}

.reviews__author-name {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.reviews__toggles {
  display: flex;
  justify-content: center;
  margin: 25px auto 40px;
  max-width: 320px;
}

.reviews__prev {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  border: 1px solid #ececec;
  cursor: pointer;
  background-color: transparent;
  height: 52px;

  &::before {
    content: "";
    width: 50px;
    height: 26px;
    right: 42px;
    top: 15px;
    position: absolute;
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
  }
}

.reviews__next {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  border: 1px solid #ececec;
  cursor: pointer;
  background-color: transparent;
  height: 52px;

  &::before {
    content: "";
    width: 50px;
    height: 26px;
    right: 42px;
    top: 15px;
    position: absolute;
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 320px) {
  .reviews {
    padding-left: 30px;
    padding-right: 30px;
  }

  .reviews__wrapper {
    padding: 0;
    display: contents;
  }
}

@media (min-width: 768px) {
  .reviews {
    padding: 56px 50px 118px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .reviews__wrapper {
    padding: 0;
  }

  .reviews__title {
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .reviews__item {
    order: 1;
    padding: 4px 0 2px 0;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    padding-top: 10px;
  }

  .reviews__author-name {
    padding-top: 27px;
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }

  .reviews__author-email {
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }

  .reviews__toggles {
    position: absolute;
    right: 50px;
    bottom: 101px;
  }

  .reviews__write-title {
    width: 175px;
    position: absolute;
    right: 50px;
    margin: 19px -1px auto;
  }

  .reviews__prev {
    border: 0;

    &::before {
      right: 93px;
      top: 30px;
    }
  }

  .reviews__next {
    border: 0;

    &::before {
      right: 19px;
      top: 30px;
    }
  }
}

@media (min-width: 1150px) {
  .reviews {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1050px;
    padding: 50px 79px 156px 171px;
  }

  .reviews__author-name {
    padding-top: 10px;
  }

  .reviews__write-title {
    top: 60px;
    right: 1px;
  }

  .reviews__title {
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
    color: #000000;
  }

  .reviews__item {
    padding: 5px 1px 2px 4px;
  }

  .reviews__prev::before {
    right: 44px;
    top: -8px;
  }

  .reviews__next::before {
    right: -32px;
    top: -7px;
  }
}
