.reviews {
  margin-top: 61px;
}

.reviews__wrapper .slider {
  padding-left: 30px;
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  padding: 38px 1px 38px 0;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.reviews__author-email {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.reviews__prev {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 0;
  width: 130px;
  border: 1px solid #ececec;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    left: 34px;
    right: 0;
    top: 12px;
    bottom: 0;
  }
}

.reviews__next {
  position: absolute;
  left: 130px;
  right: 0;
  top: 20px;
  bottom: 0;
  width: 130px;
  border: 1px solid #ececec;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    left: 34px;
    right: 0;
    top: 12px;
    bottom: 0;
  }
}

.reviews__toggles {
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;
}

.reviews__write {
  margin-top: 38px;
  margin-bottom: 45px;
}
