.site-navigation {
  position: relative;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
}

.site-navigation__link {
  display: block;
  padding: 31px 30px 31px 76px;
  color: #000000;
  border-bottom: 1px solid #ececec;
}

.site-navigation__link[href]:hover,
.site-navigation__link[href]:hover,
.stock-navigation__link[href]:hover,
.stock-navigation__link[href]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation__link[href]:active,
.site-navigation__link[href]:active,
.stock-navigation__link[href]:active,
.stock-navigation__link[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .site-navigation {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    width: 52%;
  }

  .site-navigation__item {
    list-style: none;
  }

  .site-navigation__flex {
    display: flex;
    background-color: #f1f1f1;
    text-decoration: none;
  }

  .site-navigation__link {
    padding: 17px 36px 10px 0;
    border-bottom: none;
  }
}

@media (min-width: 1150px) {
  .site-navigation {
    width: 500px;
    border-bottom: 1px solid #ececec;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    padding-left: 50px;
  }

  .site-navigation__item-catalog {
    margin-right: 35px;
    border-right: 1px solid #ececec;
  }

  .site-navigation__link {
    padding: 36px 35px 35px 0;
  }

  .site-navigation__flex {
    background-color: #ffffff;
  }
}
