.social__list {
  position: relative;
  padding-bottom: 20px;
  margin: 0;
  border-bottom: 1px solid #000000;
}

.social__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0;
}

.social__link--inst::before {
  content: "";
  position: absolute;
  left: 50px;
  right: 0;
  top: -5px;
  bottom: 0;
  width: 22px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
}

.social__link--facebook::before {
  content: "";
  position: absolute;
  left: 118px;
  right: 0;
  top: -9px;
  bottom: 0;
  width: 14px;
  height: 27px;
  background-image: url("../img/icon-fb.svg");
}

.social__link--twitter::before {
  content: "";
  position: absolute;
  left: 175px;
  right: 0;
  top: -5px;
  bottom: 0;
  width: 23px;
  height: 20px;
  background-image: url("../img/icon-twitter.svg");
}

@media (min-width: 768px) {
  .social__list {
    border: 0;
  }

  .social__link--inst::before {
    left: -19px;
    top: 16px;
  }

  .social__link--facebook::before {
    left: 44px;
    top: 13px;
  }

  .social__link--twitter::before {
    left: 99px;
    top: 17px;
  }
}
