.social__list {
  position: relative;
  padding-bottom: 20px;
  margin: 0;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social__item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0;
}

.social__link {
  align-items: center;
  margin: 0 13px 0 6px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .social__list {
    padding-bottom: 0;
    width: 300px;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
  }
}
