@media (min-width: 1150px) {
  .stock-navigation {
    width: 500px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    padding-left: 50px;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    background-color: #f1f1f1;
  }

  .stock-navigation_item-first {
    margin-right: 34px;
  }

  .stock-navigation__link {
    display: block;
    padding: 9px 28px 10px 0;
    color: #000000;
  }
}
