.user-navigation {
  position: relative;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  box-sizing: border-box;
}

.user-navigation__searchs {
  display: none;
}

.user-navigation__link {
  display: block;
  padding: 31px 30px 31px 76px;
  color: #000000;
  border-bottom: 1px solid #ececec;
}

.user-navigation__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation__link:hover .user-navigation__wrapper {
  fill: #63d1bb;
  opacity: 1;
}

.user-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation__link:active .user-navigation__wrapper {
  fill: #63d1bb;
  opacity: 0.3;
}

.user-navigation__wrapper {
  position: absolute;
  left: 30px;
  opacity: 0.2;
}

@media (min-width: 320px) {
  .user-navigation__searchs {
    display: block;
  }
}

@media (min-width: 768px) {
  .user-navigation {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border-bottom: 1px solid #ececec;
    width: 398px;
  }

  .user-navigation__item {
    list-style: none;
    background-color: #ffffff;
  }

  .user-navigation__link {
    border-bottom: none;
    position: relative;
  }

  .user-navigation__text {
    padding: 36px 48px 52px 33px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .user-navigation__wrapper {
    left: 32px;
    top: 35px;
  }

  .user-navigation__basket {
    padding: 31px 50px 33px 83px;
    position: relative;
  }

  .user-navigation__searchs {
    display: none;
  }
}

@media (min-width: 1150px) {
  .user-navigation {
    padding-right: 50px;
    width: 500px;
  }

  .user-navigation__wrapper--item {
    left: 33px;
  }

  .user-navigation__basket {
    padding: 36px 0 35px 85px;
  }

  .user-navigation__searchs {
    display: none;
  }

  .user-navigation__search::before {
    left: 32px;
    top: 36px;
  }

  .user-navigation__text {
    padding: 43px 48px 52px 33px;
  }
}
