@import "blocks/*.scss";

.container {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2,
h3,
p,
div,
span,
ul,
li,
blockquote {
  padding: 0;
  margin: 0;
}

.menu::after,
.catalog__title::after,
.page-main__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  background-image: url("../img/bg-zigzag-fill.svg");
  background-size: cover;
}

@media (min-width: 768px) and (min-width: 1150px) {
  .page-header__background {
    background-color: #f9f9f9;
  }
}

@media (min-width: 768px) {
  .menu::after,
  .catalog__title::after,
  .page-main__title::after {
    bottom: -11px;
    height: 24px;
    background-size: 768px 23px;
  }
}

@media (min-width: 1150px) {
  .menu::after,
  .catalog__title::after,
  .page-main__title::after {
    bottom: -15px;
    height: 35px;
    background-size: auto 34px;
    background-position-x: 8px;
  }
}
