// dsffs
@import "blocks/*.scss";

body {
  font-family: "Roboto", "Arial", sans-serif;
  padding: 0;
  width: 1200px;
}

.container {
  margin-top: 22px;
  margin-left: 31px;
  margin-right: 31px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

h2, h3, p, div, span, ul, li, blockquote {
  padding: 0;
  margin: 0;
}
